@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: 0;
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif
}

:root {
    --bg-color: #240829;
    --second-bg-color: #421652;
    --text-color: #ededed;
    --main-color: #be75ff;
    --bg-color-theme1: #240829;
    --second-bg-color-theme1: #421652;
    --text-color-theme1: #ededed;
    --main-color-theme1: #be75ff;
    --bg-color-theme2: #0B0C10;
    --second-bg-color-theme2: #1F2833;
    --text-color-theme2: #ededed;
    --main-color-theme2: #45A29E;
    --bg-color-theme3: rgb(4, 4, 4);
    --second-bg-color-theme3: rgb(38, 36, 41);
    --text-color-theme3: #EDE7E1;
    --main-color-theme3: rgb(224, 224, 0);
    --bg-color-theme4: #081B29;
    --second-bg-color-theme4: #112e42;
    --text-color-theme4: #ededed;
    --main-color-theme4: #00abf0
}

.home-color-title {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.home-color {
    bottom: 4rem;
    width: 200px;
    display: flex;
    justify-content: space-around
}

.home-color button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: 0 0;
    border: .4rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    transition: .5s
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: 0 0;
    transition: 3s
}

.button:nth-child(1) div.color-1 {
    background-color: var(--bg-color-theme1)
}

.button:nth-child(1) {
    border-color: var(--main-color-theme1)
}

.button:nth-child(1) div.color-2 {
    background-color: var(--second-bg-color-theme1)
}

.button:nth-child(2) div.color-1 {
    background-color: var(--bg-color-theme2)
}

.button:nth-child(2) {
    border-color: var(--main-color-theme2)
}

.button:nth-child(2) div.color-2 {
    background-color: var(--second-bg-color-theme2)
}

.button:nth-child(3) div.color-1 {
    background-color: var(--bg-color-theme3)
}

.button:nth-child(3) {
    border-color: var(--main-color-theme3)
}

.button:nth-child(3) div.color-2 {
    background-color: var(--second-bg-color-theme3)
}

.button:nth-child(4) div.color-1 {
    background-color: var(--bg-color-theme4)
}

.button:nth-child(4) {
    border-color: var(--main-color-theme4)
}

.button:nth-child(4) div.color-2 {
    background-color: var(--second-bg-color-theme4)
}

html {
    font-size: 62.5%
}

button:hover {
    cursor: pointer
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100%
}

span {
    color: var(--main-color)
}

.change-text {
    font-size: 2.5rem;
    font-weight: 600
}

.change-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0
}

.change-text h3 .word .letter {
    transform-origin: center center 25px
}

.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: .32s cubic-bezier(.6, 0, .7, .2)
}

.change-text h3 .word .letter.in {
    transition: .38s ease
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg)
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s
}

.header.sticky {
    background: var(--bg-color)
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600
}

.navbar {
    position: relative
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s
}

.navbar a.active,
.navbar a:hover {
    color: var(--main-color)
}

#logo-color {
    fill: var(--main-color)
}

.logo-text-color {
    fill: var(--text-color)
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url(../images/home.png) no-repeat;
    background-size: cover;
    background-position: center
}

.home-content {
    max-width: 60rem;
    z-index: 99
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.3
}

.home-content h1 span {
    color: var(--text-color)
}

.home-content .text-animate {
    position: relative;
    width: 32.8rem
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s
}

.home-content .text-animate h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: solid .2rem var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s
}

.btn-box .btn:hover {
    color: var(--main-color)
}

.btn-box .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s
}

.btn-box .btn:hover::before {
    width: 100%
}

.home-sci {
    margin-top: 2rem;
    width: 200px;
    display: flex;
    justify-content: space-around
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: 0 0;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s
}

.home-sci a:hover {
    color: var(--bg-color)
}

.home-sci a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s
}

.home-sci a:hover::before {
    width: 100%
}

.home-imgHover:hover {
    background: var(--bg-color);
    opacity: .5
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center
}

span {
    color: var(--main-color)
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
    background-color: var(--bg-color)
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite
}

.about-content {
    text-align: center
}

.about-content h3 {
    font-size: 2.6rem
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem
}

.btn-box.btns {
    display: inline-block;
    width: 15rem
}

.btn-box.btns a::before {
    background: var(--second-bg-color)
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem
}

.education-column .title i {
    font-size: 3rem;
    margin: 0 0 1.5rem 2rem
}

.education-column .education-box {
    border-left: .2rem solid var(--main-color)
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem
}

.education-box .education-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem
}

.education-content .content .year i {
    padding-right: .5rem
}

.education-content .content h3 {
    font-size: 2rem
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem
}

.skills {
    min-height: 100vh;
    padding-bottom: 7rem;
    background: var(--second-bg-color)
}

.skills-container {
    display: flex
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    
}

.skills-row .skills-column {
    flex: 1 1 40rem;
    transform-style: preserve-3d;
}

.skills-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    min-width: 50%;
    z-index: 1;
    overflow: hidden;

}

.skills-content .progress {
    padding: 1rem 0
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
    
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color)
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color)
}

.footer-text p {
    font-size: 1.6rem
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s
}

.footer-iconTop a:hover i {
    color: var(--main-color)
}

#menu-icon .animate,
.home.show-animate .animate,
.logo .animate,
.navbar .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i))
}

.updates-box {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: 2rem 2rem;
    z-index: 1;
    max-width: 30%;
    min-width: 30%;
    overflow: hidden
}

.updates-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 30rem;
    margin-bottom: 1rem
}

.updates-column {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center
}

.updates-column h2 {
    font-size: 2.5rem;
    color: var(--main-color)
}

.updates-column p {
    font-size: 1.5rem
}

.github a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: 0 0;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s
}

.github a:hover {
    color: var(--bg-color)
}

.github a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s
}

.github a:hover::before {
    width: 100%
}

.download-box {
    position: relative;
    display: flex;
    gap: 2rem;
    width: 34.5rem;
    height: 5rem
}

.download-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: solid .2rem var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s
}

.download-box .btn:hover {
    color: var(--main-color)
}

.download-box .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s
}

.download-box .btn:hover::before {
    width: 100%
}

.projects {
    background: var(--second-bg-color)
}

.projects-box {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: 2rem 2rem;
    z-index: 1;
    max-width: 30%;
    min-width: 30%;
    overflow: hidden
}

.projects-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 30rem;
    margin-bottom: 1rem
}

.projects-column {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center
}

.projects-column h2 {
    font-size: 2.5rem;
    color: var(--main-color)
}

.projects-column p {
    font-size: 1.5rem
}

@media (max-width:1200px) {
    .education-column {
        width: 100%
    }

    html {
        font-size: 55%
    }
}

@media (max-width:991px) {
    .education-column {
        width: 100%
    }

    .header {
        padding: 2rem 4%
    }

    section {
        padding: 10rem 4% 2rem
    }

    .home {
        padding: 0 4%
    }

    .footer {
        padding: 2rem 4%
    }
}

@media only screen and (min-device-width:375px) and (max-device-width:812px) and (-webkit-min-device-pixel-ratio:3) {
    .updates-box {
        max-width: 100%
    }

    .projects-box {
        max-width: 100%
    }
}

@media only screen and (min-device-width:375px) and (max-device-width:812px) and (-webkit-min-device-pixel-ratio:3) and (orientation:portrait) {
    .updates-box {
        max-width: 100%
    }

    .projects-box {
        max-width: 100%
    }
}

@media only screen and (min-device-width:375px) and (max-device-width:812px) and (-webkit-min-device-pixel-ratio:3) and (orientation:landscape) {
    .updates-box {
        max-width: 100%
    }

    .projects-box {
        max-width: 100%
    }
}

@media (max-width:768px) {
    .header {
        background: var(--bg-color)
    }

    .education-column {
        width: 100%
    }

    #menu-icon {
        display: block
    }

    .updates-box {
        max-width: 100%
    }

    .projects-box {
        max-width: 100%
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s
    }

    .navbar.active {
        transition-delay: 0s;
        left: 0
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s
    }

    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: 0
    }
}

@media (max-width:520px) {
    .education-column {
        width: 100%
    }

    .home {
        background-image: none
    }

    html {
        font-size: 50%
    }

    .home-content h1 {
        display: flex;
        flex-direction: column
    }

    .home-sci {
        width: 160px
    }

    .home-sci a {
        width: 38px;
        height: 38px
    }
}

@media (max-width:462px) {
    .home-content h1 {
        font-size: 5.2rem
    }

    .education {
        padding: 10rem 4% 5rem 5%
    }

    .contact form .input-box .input-field {
        width: 100%
    }

    .footer {
        flex-direction: column-reverse
    }

    .footer p {
        margin-top: 2rem;
        text-align: center
    }
}

@media (max-width:371px) {
    .home {
        justify-content: center
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center
    }

    .home-content h1 {
        font-size: 5rem
    }

    .home-content h3 {
        text-align: center
    }

    .change-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
        text-align: center
    }
}

@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -33rem 0
    }

    65%,
    85% {
        background-position: 0 0
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1
    }

    75%,
    81% {
        opacity: 0
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@keyframes showRight {
    100% {
        width: 0
    }
}